body {
  background: linear-gradient(to top, rgb(247, 226, 147), #fff);
}
.middle-section {
  display: flex;
  margin: 4px;
}
.award-image {
  width: 1/2;
}
.award-logo {
  width: 100%;
}

.title {
  font-weight: bold;
}
.award-text,
.awardgiving-text {
  text-align: justify;
}
.awardgiving-image {
  margin: 4px;
  width: full;
  height: auto;
  text-align: center;
}

.awardgiving-logo {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.products-text {
  text-align: center;
}

.products {
  position: relative;
  height: 50vh;
  overflow: hidden;
}
.products-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 100%;
}
.line {
  border: none;
  margin: 4px;
  height: 2px;
  background-color: red;
}

@media (max-width: 700px) {
  .award-logo {
    height: 100%;
  }
  .products-image {
    width: 75%;
    height: 75%;
    display: block;
  }
  .products {
    margin-top: -20px;
    margin-bottom: -20px;
    height: 35vh;
  }
}
